<!-- 测试文件 -->

<launch>
    <!-- 启动 rviz -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find three_nav_demo)/config/demo05_test_amcl.rviz"/>

    <!-- 加载地图服务 -->
    <include file="$(find three_nav_demo)/launch/demo03_map_server_read.launch" />

    <!-- amcl文件 -->
    <include file="$(find three_nav_demo)/launch/demo04_amcl.launch" />
    
</launch>