<launch>
    <include file="$(find wpr_simulation)/launch/wpb_stage_robocup.launch"/>
    
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen"/>
    
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find slam_pkg)/config/myrviz.rviz"/>

    <node name="keyboard_vel_ctrl" pkg="wpr_simulation" type="keyboard_vel_ctrl" output="screen"/>

</launch>
